@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:  #E5E5E5; 
}

header {
    background: black;
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 10px 0px;
}

.container {
    width: 375px;      
    display: flex;
    flex-direction: column;            
    background-color:  #f0f0f0;
    margin: 0 auto;  
    margin-top: 50px;       
}

.container h2 {
    background-color: #1B83E2;
    color: #F4F4F4;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}

select {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    cursor: pointer;
    outline: none; /*para tirar a borda azul*/
    appearance: none; /*Para tirar a seta lateral do select*/
    padding-left: 16px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

option {
    font-size: 16px;
    font-weight: 700;
}

.form-conversor {
    display: block;
    padding: 10px 20px;       
}

.form-conversor input {
    background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 95%;    
    font-size: 16px;
    font-weight: 700; 
    padding-left: 16px;         
    outline: none; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

button {
    width: 90%; 
    height: 48px;   
    background-color: #1B83E2;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;    
    border-radius: 25px;
    padding: 10px 20px;
    margin: 20px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.7;
}

.painel-conversor {
    display: flex;    
    flex-direction: column;
    align-items: center;
    border: 1px solid  #1B83E2;
    border-radius: 4px;
    margin: 20px;
    padding: 10px 0;        
}

img {
    height: 60px;
    width: 60px;
}

.coin {
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.arrow {
    padding: 5px 0;
}



